
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.masthead {
  height: 100vh;
  text-align: center;
  color: #adb5bd;
  background-image: url("/images/header-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 30% 0%;
  background-size: cover;
}
